<div class="container-fluid main-background min-vh-100">
    <app-navbar></app-navbar>
    <div class="container ">
        <div class="row">
            <div class="col-7 main-introduction-text mt-5 ">
                Author Doppler
            </div>
        </div>
        <div class=" row mt-5 mb-5 main-text">
            Author doppler is a tool to find authors with similiar writing styles to yourself or authors you enjoy.
            Click begin to learn more and find authors.
        </div>
        <div class="row">
            <div class="col text-start">
                <button type="button" routerLink='text-submission' class="btn begin-button begin-button-hover ">
                    BEGIN
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer class="mt-auto"></app-footer>